body {
    background-color: tan;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin: 100px;
    padding: 50px;
    width: 600px;
    border: 2px solid saddlebrown;
    font-size: x-large;
  }
  